/*
Blanco: #FFFFFF
Gris Claro: #F0F0F0
Beige o Crema: #F5F5DC
Azul Claro: #87CEEB
*/
.inicio {
    background-image: url("/src/assets/Estampa\ Fondo\ para\ web.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-centro {
    width: 300px;
}

.h1-hero {
    color: white;
    font-size: 1.4rem;
    padding: 30px;
    letter-spacing: 2px;
}

.h2-hero {
    color: gray;
    font-size: 1.4rem;
    padding: 30px;
    letter-spacing: 2px;
}