.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Esto centrará verticalmente el contenido */
    min-height: 80vh;
}

.fade-card {
    animation-name: animacion;
    animation-duration: 1s;
}

@keyframes animacion {
    0% {
        opacity: 0;
    }



    100% {
        opacity: 1;
    }
}


.loginImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-image {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-body {
    padding: 1.25rem;

}

.card-body .mb-4 {
    margin-bottom: 1rem;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.btn-login {
    margin-bottom: 1rem;
}