.login-container {
    background-color: #b8b6b6;
    height: calc(100vh - 64.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-image {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-body {
    padding: 1.25rem;
}

.card-body .mb-4 {
    margin-bottom: 1rem;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.btn-login {
    margin-bottom: 1rem;
}