.estampa-logo {
    width: 50%;
}

.custom-navbar {
    background-color: #223644;

}

.custom-navbar .nav-link {
    color: #ffffff;
}

.custom-nav-link {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    /* Esto quita el subrayado */
    /* Otros estilos que desees aplicar a los enlaces */
}